/* You can add global styles to this file, and also import other style files */
html ,body  {
    font-size: 15px;
}

body{
    width: 100%;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sameSize{
    width:80px;
}