<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="header.html"></div>
<body>
	<div class="background-image blurred"></div>

	<div th:replace="header"></div>
	<div class="container">
		<!-- Header -->
		<header class="bg-primary text-center py-5 mb-4">
			<div class="container">
				<h1 class="font-weight-light text-white">Accurate and Prepared</h1>
			</div>
		</header>

		<!-- Page Content -->
		<div class="container">
			<div class="row">
				<!-- Team Member 1 -->
				<div class="col-xl-3 col-md-6 mb-4">
					<div class="card border-0 shadow">
						<img src="https://images.unsplash.com/photo-1514632595-4944383f2737?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&h=500&q=60"
							class="card-img-top" alt="...">
						<div class="card-body text-center">
							<h5 class="card-title mb-0">Prepared</h5>
							<div class="card-text text-black-50">We ensure that you are prepared everyday.</div>
						</div>
					</div>
				</div>
				<!-- Team Member 2 -->
				<div class="col-xl-3 col-md-6 mb-4">
					<div class="card border-0 shadow">
						<img src="https://images.unsplash.com/photo-1508697014387-db70aad34f4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&h=500&q=60"
							class="card-img-top" alt="...">
						<div class="card-body text-center">
							<h5 class="card-title mb-0">Long Range</h5>
							<div class="card-text text-black-50">Our forecasts deliver long-range forecasts with high fidelity.</div>
						</div>
					</div>
				</div>
				<!-- Team Member 3 -->
				<div class="col-xl-3 col-md-6 mb-4">
					<div class="card border-0 shadow">
						<img src="https://images.unsplash.com/photo-1500561607578-e542f3149b97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&h=500&w=500&q=60"
							class="card-img-top" alt="...">
						<div class="card-body text-center">
							<h5 class="card-title mb-0">Confidence</h5>
							<div class="card-text text-black-50">Our sophisticated data analytics give you confidence in our predictions.</div>
						</div>
					</div>
				</div>
				<!-- Team Member 4 -->
				<div class="col-xl-3 col-md-6 mb-4">
					<div class="card border-0 shadow">
						<img src="https://images.unsplash.com/photo-1516368694098-47836cebec97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&h=500&w=500&q=60"
							class="card-img-top" alt="...">
						<div class="card-body text-center">
							<h5 class="card-title mb-0">Privacy</h5>
							<div class="card-text text-black-50">We never share data without your  permission.</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.row -->
		</div>
	</div>
	<!-- /.container -->
</body>
</html>