<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow" xmlns:th="http://www.w3.org/1999/xhtml">
    <a class="navbar-brand">
        <img src="/assets/logo.svg" width="50" height="50" class="d-inline-block align-top" alt="">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/home}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/about}">About</a>
            </li>
        </ul>
    </div>
</nav>