<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="head.html"></div>
<body>
<div class="background-image blurred"></div>
<div th:replace="user_header"></div>

<div class="container">
    <div class="console form-inline row">
        <div class="col-11">
            <div th:if="${list}">
                <form method="post" th:action="@{/updateWeather}">
                    <select class="custom-select" name="weatherId">
                        <option th:each="w : ${list}" th:value="${w.id}" th:text="${w.name}" th:selected="${w.id == currentWeather.id}">one</option>
                    </select>
                    <input type="hidden" th:value="${_csrf.token}" th:name="${_csrf.parameterName}">
                    <button class="btn btn-primary ml-4" type="submit">Update</button>
                </form>
            </div>
        </div>
        <div class="float-right col">
            <a class="btn btn-primary" th:href="@{/add}"> + </a>
        </div>
    </div>

    <div th:if="${currentWeather}">
        <div class="card mt-5">
            <div class="card-body">
                <div class="float-left">
                    <div th:text="${currentWeather.name}" class="forecast-name"></div>
                    <span th:text="${currentWeather.areaDescription}" class="forecast-description"></span>
                    <br>
                    <span th:text="${currentWeather.temperature}+ ' degree and '+${currentWeather.weather}"></span>
                </div>
                <div class="float-right">
                    <img th:src="${currentWeather.weatherImg}" class="weather-image"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="footer"></div>
</body>
</html>