<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="head.html"></div>
<body>
<div class="background-image blurred"></div>
<div th:replace="user_header"></div>

<div class="container">
    <h4 th:text="${user.getUsername()}"></h4>
    <h6 th:text="${user.getEmail()}"></h6>
    <img th:src="${imgURL}" class="mt-3 avatar">
    <div class="card mt-4">
        <form class="card-body" enctype="multipart/form-data" method="post" th:action="'/avatars/' + ${user.getId()}">
            <input type="hidden" th:value="${_csrf.token}" th:name="${_csrf.parameterName}">
            <p>
                Update profile imagine
            </p>
            <input type="file" name="file">
            <br>
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
    </div>
</div>

<div th:replace="footer"></div>
</body>
</html>