<div class="card mt-4" style="width: 18rem;" *ngIf="card && visible">
    <img [src]="card.imageUrl">
    <div class="card-body">
        <h4 class="card-title">{{card.name}}</h4>
        <p>multiverseid: {{card.multiverseid}}</p>
        <small>
            <strong>colors:</strong> {{card.colors}}
            <br> <strong>type:</strong> {{card.type}}
            <br> <strong>rarity:</strong> {{card.rarity}}
            <br> <strong>power:</strong> {{card.power}}
            <br> <strong>toughness:</strong> {{card.toughness}}
            <br> <strong>legalities:</strong>
            <div *ngFor="let one of card.legalities">
                format:{{one.format}}, legality: {{one.legality}}
                <br>
            </div>
            <br>
            <strong>rulings:</strong>
            <div *ngFor="let one of card.rulings">
                date:{{one.date}}, text: {{one.text}}
                <br>
            </div>
            <br> <strong>set:</strong> {{card.set}}
        </small>
        <p class="card-text mt-2">
            <strong>text:</strong>
            <br>
            {{card.text}}
        </p>
    </div>
</div>

<div *ngIf="selectedCardId &&!visible" class="text-center mt-4">
    <div class="spinner-grow text-info" role="status" style="width: 3rem; height: 3rem;">
        <span class="sr-only">Loading...</span>
    </div>
</div>