body, html {
    font-size: 15px;
}

.icon {
    /*height: 40px;*/
    /*width: 40px;*/
    border-radius: 50%;
    border:1px solid #021a40;
}

.avatar{
    height: 40px;
    width: 40px;
}

#game_control{
    height: 100px;
    width:700px;
    background-color: antiquewhite;
}

#game_board{
    height: 500px;
    width:700px;
    background-color: aquamarine;
}
