<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <a class="navbar-brand" [routerLink]="[ '/admin']">Magic The Gathering</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto btn-group">
      <button class="nav-link" [routerLink]="['cards']" class="btn btn-lg ">Cards</button>
      <button class="nav-link" [routerLink]="['decks']" class="btn btn-lg">Decks</button>
    </ul>
    <div class="my-lg-0">
      <a *ngIf="user">Admin: {{user.firstName}} {{user.lastName}} </a>
      <button class="btn btn-outline-secondary my-2 my-sm-0 ml-2" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>

<div class="container">
  <div class="form-inline mt-4">
    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text">firstName</label>
      </div>
      <input [(ngModel)]="firstname" name="firstname" class="form-control" type="text">
    </div>
    <div class="input-group ml-2">
      <div class="input-group-prepend">
        <label class="input-group-text">lastName</label>
      </div>
      <input [(ngModel)]="lastname" name="lastname" class="form-control" type="text">
    </div>

    <div class="input-group ml-2">
      <div class="input-group-prepend">
        <label class="input-group-text">email</label>
      </div>
      <input [(ngModel)]="email" name='email' class="form-control" type="email">
    </div>
    <div class="input-group ml-2">
      <div class="input-group-prepend">
        <label class="input-group-text">password</label>
      </div>
      <input [(ngModel)]="password" type="password" name="password" class="form-control">
    </div>
  </div>




  <small class="ml-2">role</small>
  <select [(ngModel)]="selectedRole">
    <option>user</option>
    <option>admin</option>
  </select>
  <small class="ml-2">enabled</small>
  <input type="checkbox" name="enabled" [(ngModel)]="enabled">
  <button class="btn btn-success ml-2" (click)="createUser()">create user</button>
  <hr>
  <input #searchBox (input)="search(searchBox.value)" placeholder="search" />
  <select class="ml-2">
    <option>enabled</option>
    <option>disabled</option>
  </select>
  <select class="ml-2">
    <option>user</option>
    <option>admin</option>
  </select>

  <table class="userTable">
    <tr>
      <th>id</th>
      <th>email</th>
      <th>firstName</th>
      <th>lastName</th>
      <th>role</th>
      <th>enabled</th>
    </tr>
    <tr *ngFor="let user of users$ | async">
      <td>{{user._id}}</td>
      <td>{{user.email}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.role}}</td>
      <td>{{user.enabled}}</td>
    </tr>
  </table>
  <hr>
  <button (click)="logout()" class="btn btn-sm btn-danger">logout</button>
</div>