<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <a class="navbar-brand" [routerLink]="[ '/admin']">Magic The Gathering</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto btn-group">
      <button class="nav-link" class="btn btn-lg ">Admin Console</button>
    </ul>
    <div class="my-lg-0">
      <a *ngIf="user">Admin: {{user.firstName}} {{user.lastName}} </a>
      <button class="btn btn-outline-secondary my-2 my-sm-0 ml-2" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>

<div class="container">
  <div class="">
    <div class="">
        <div class="card mt-4 shadow">
            <div class="card-body">
              <div class="input-group mt-2">
                <div class="input-group-prepend">
                  <label class="input-group-text sameSize">email</label>
                </div>
                <input [(ngModel)]="email" name='email' class="form-control" type="email">
              </div>
              <div class="input-group mt-2">
                <div class="input-group-prepend">
                  <label class="input-group-text sameSize">password</label>
                </div>
                <input [(ngModel)]="password" type="password" name="password" class="form-control">
              </div>
    
              <div class="mt-2">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text sameSize">firstName</span>
                  </div>
                  <input [(ngModel)]="firstname" name="firstname" class="form-control" type="text">
    
                </div>
              </div>
    
              <div class="mt-2">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text sameSize">lastName</span>
                  </div>
                  <input [(ngModel)]="lastname" name="lastname" class="form-control" type="text">
                </div>
              </div>
              <div class="input-group mt-2">
                <div class="input-group-prepend">
                  <span class="input-group-text sameSize">Role</span>
                </div>
                <select [(ngModel)]="selectedRole" class="custom-select">
                  <option>user</option>
                  <option>admin</option>
                </select>
                <span class=" sameSize btn">enabled</span>
                <input type="checkbox" name="enabled" [(ngModel)]="enabled" class="form-control">
              </div>
              <button class="btn btn-success mt-2 form-control" (click)="createUser()">create user</button>
            </div>
          </div>

      <div class="input-group mt-4 shadow">
        <div class="input-group-prepend">
          <label class="input-group-text">Search:</label>
        </div>
        <select class="custom-select" [(ngModel)]="statusValue" (ngModelChange)="search(searchBox.value)">
          <option value="true">Enabled</option>
          <option value="false">Disabled</option>
        </select>
        <select class="custom-select" [(ngModel)]="roleValue" (ngModelChange)="search(searchBox.value)">
          <option value="user">User</option>
          <option value="admin">Admin</option>
        </select>
        <input #searchBox (input)="search(searchBox.value)" placeholder="keywords" class="form-control" />
      </div>
      <table class="userTable table shadow">
        <tr>
          <th>Id</th>
          <th>Email</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Role</th>
          <th>Enabled</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let user of users$ | async">
          <td>{{user._id}}</td>
          <td>{{user.email}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.role}}</td>
          <td>{{user.enabled}}</td>
          <td>
            <button class="btn btn-sm btn-secondary" *ngIf="user.enabled" (click)="changeStatus(user,searchBox.value)">Disabled</button>
            <button class="btn btn-sm btn-success" *ngIf="!user.enabled" (click)="changeStatus(user,searchBox.value)">Enabled</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>